/* Theming */ 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap&quot;"); 
/* import font */

:root{
--white: #f9f9f9;
--black: #36383F;
--gray: #85888C;
} 
/* variables*

.foto {
  width:150px;
  display: rid;
  grid-template-columns: 20% 20%;
  }


  
